/*Fuentes*/
@font-face{
    font-family: "CocaCola";
    src: url("fonts/Coca\ Cola\ ii.ttf");
}


/*estilos generales*/
*{
    margin: 0px;
    padding: 0px;
}
#header{
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}
#header a{
    text-decoration: none;
}
#header #logotipo{
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;
}
#header #logotipo img{
    display: block;
    text-align: center;
    margin: 0px auto;
    width: 140px;
}
#header h1{
    text-align: center;
    font-size: 40px;
    color: red;
    font-family: "CocaCola";
    margin-top: 10px;
    text-shadow: 0px 2px 1px #333333;
    transition: all 300ms;
}
#header h1:hover{
    text-shadow: 0px 2px 1px #333333, 0px 0px 4px #333333;
}

/*menu*/
#nav{
    width: 100%;
    height: 60px;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    box-shadow: 0px 0px 10px gray;
    
}
#nav ul{
    list-style: none;
    text-decoration: none;
    margin: 0px auto;
    width: 1200px;
}
#nav > ul > li{
    line-height: 60px;
    float: left;
    border-right: 1px solid gray;
}
#nav > ul > li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: wheat;
    text-decoration: none;
    font-size: 25px;
}
#nav > ul >li > a:first-child{
    border-left: 1px solid grey;
}